body {
  margin: 0;
}
/* Header */
header {
  background-color: white;
  height: 13vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#firstsection {
  display: inline-block;
  width: 30%;
}

#imageuser {
  border-radius: 50%;
  display: inline-block;
  left: 15%;
  padding: 10px;
  position: relative;
  width: 65px;
}

#logolab {
  display: inline-block;
  left: 30%;
  padding-bottom: 6%;
  position: relative;
  width: 230px;
}

#sections {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  left: 42%;
  position: absolute;
  top: 40%;
  width: 50%;
}

.menu {
  color: black;
  padding: 20px;
  text-decoration: none;
}

/* Main */
#container, #container1, #container2, .containersedes {
  background-color: #F7F7F7;
  height: 900px;
  position: relative;
  width: 100%;
}

.logos {
  display: block;
  left: 30%;
  padding: 14vh;
  padding-bottom: 1vh;
  position: relative;
  width: 25%;
}

.chartStatistics{
  display: inline-block;
  left: 5%;
  padding: .5vh;
  position: relative;
}

.sedelab {
  height: 245px;
  bottom: 5%;
  left: 13%;
  padding: 1vh;
  padding-left: 3vh;
  position: relative;
  width: 430px;
}

.chartCoaches {
  display: inline-block;
  left: 10%;
  padding: .5vh;
  position: relative;
}

.listStatistics {
  display: inline-block;
  height: 300px;
  left: 2%;
  padding: .5vh;
  position: relative;
  width: 400px;
}

.names {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  left: 20%;
  position: absolute;
  width: 300px;
}

hr {
  width: 400px;
}



/* Footer */
footer {
  background-color: #000000;
  display: inline-block;
  height: 13vh;
  margin: 0;
  position: relative;
  width: 100%;
}

.copy {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  padding: 4vh;
  text-align: center
}
